//
// Buy / Sell Animation
//
@include keyframes(bell) {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
        @include transform(scale(1, 1));
    }
    40%{
        @include transform(rotate(-15deg));
        opacity: 1;
    }
    50% {
        @include transform(rotate(30deg));
        opacity: 1;
    }
    60% {
        @include transform(rotate(-15deg));
        opacity: 1;
    }
    100% {
        opacity: 0;
        @include transform(rotate(15deg));
    }
}

@include keyframes(fade-up) {
    20% {
        opacity: 1;
        color: inherit;
        background: inherit;
        @include transform(scale(1.2, 1.2));
    }
    25% {
        @include transform(scale(1, 1));
    }
    50% {
        color: $primary-color;
        background: $light-neutral-color;
    }
    100% {
        @include transform(translateY(-50px));
        opacity: 0;
    }
}

.animate {
    .icon-bell {
        @include animation(bell 1.5s ease-in-out forwards);
    }

    .left-icon {
        @include animation(fade-up 1.2s ease-in-out 1.5s infinite);
    }

    .right-icon {
        @include animation(fade-up 1.2s ease-in-out 2.25s infinite);
    }
}
